/* 定义动画 keyframes */
@keyframes rotateDemo {
    0%   {
        transform: rotate(0deg);
    }
    50%  {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 调用动画 animation */
.tringle {
    animation: rotateDemo 5s linear infinite;
    transform-origin: center;
    display: inline-block;
    margin-right: 20px;
}

/* 页面滚动时，背景不动 */
body {
    background: fixed;
}

/* 图片水平居中 */
<div>
   <img src="arr.png">
</div>

/* 图片水平居中的 css 样式 */
div {
    text-align: center;
}

img {            
    margin: 0 auto;            
}
