* {
    padding: 0;
    margin: 0;
}
div.ddot-banner {
    border-bottom: 2px solid #E95C5E;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: #fff;
    z-index: 100;
    box-sizing: border-box;
}
div.inner {
    max-width: 1160px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
div.main {
    margin-top: 50px;

}
header {
    height: 517px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
div.video-wrapper {
    background-image:url(http://www.piedpiper.com/app/themes/pied-piper/dist/images/Video_1.jpg );
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.bg-video {
    min-width: 100%;
}
.title {
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.title h1 {
    font-size: 80px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    font-weight: 500;
    color: #fff;
}
.title .sub {
    color: #fff;
    letter-spacing: -0.5px;
}
.logo-wrapper {
    position: absolute;
    top: 3px;
    left: 30px;
    margin: 0;
    z-index: 3;
}

#logo {
    max-height: 100px;
    display: block;
}
.navbar-links {
    text-align: right;
    padding-right: 100px;
    margin: 35px auto;

}
.navbar-link {
    color: #fff;
    text-decoration: none;
    line-height: 48px;
}
.divider {
    color: #fff;
    margin: 0 10px;
}
section>div {
    position: relative;
    width: 100%;
}
div.section1, .section3 {
    text-align: center;
    background-color: #eee;
    padding-top: 82px;
    padding-bottom: 65px;
}
h3 {
    text-align: center;
    font-size: 46px;
    letter-spacing: -0.7px;
}
h1, h2, h3 {
    /* color: #007765; */
    color: #E95C5E;
    font-family: BrandonGrotesque-Medium;
    margin: 0;
}
.section1 .icons {
    display: inline-block;
    width: 100%;
    margin-top: 64px;
}
div.icon {
    float: left;
    width: 33.33%;
}
h4 {
    /* color: #007765; */
    color: #E95C5E;
    font-family: GothamNarrow-Medium;
    font-size: 30px;
    letter-spacing: -.3px;
    margin: 0;
}
.section1 .icons img {
    margin: 34px 0 30px;
    max-width: 140px;
}
.section1 .icons p {
    white-space: pre;
    margin-bottom: 0;
}

div.section2 {
    text-align: center;
    padding-top: 76px;
    padding-bottom: 95px;
}

.section2 h2 {
    margin-bottom: 74px;
}
h2 {
    font-size: 50px;
    font-family: Arial;
}
.tabs {
    margin-bottom: 30px;
}
.tab {
    position: relative;
    display: inline-block;
    margin: 0 35px;
    cursor: pointer;
}
.section2 h3 {
    margin-bottom: 35px;
}

p {
    color: #565656;
    font-size: 24px;
}
.section2 p {
    letter-spacing: -1px;
}
.tab-content p {
    font-size: 18px;
    text-align: left;
    padding: 0 20%;
    line-height: 1.6em;
    margin-bottom: 1em;
}
.footer {
    background-color: #3d3d3d;
    height: 200px;
    padding: 53px 0;
}
.social-icons {
    text-align: center;
}
.icon-wrapper {
    width: 48px;
    height: 48px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    line-height: 48px;
    margin: 0 20px;
}
.aboutme {
    margin-top: 35px;
    width: 90%;
}
.section3-left, .section3-right {
    display: inline-block;

}
.aboutme p {
    font-size: 18px;
    text-align: left;
    vertical-align: top;
    margin-bottom: 0.5em;
}
.section3-left {
    width: 48%;
    margin-right: 20px;
}
.footer-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.footer-text {
    text-align: center;
    line-height: 22px;
    margin: 30px auto 0;
    font-size: 16px;
    color: #fff;
    width: 45%;
    letter-spacing: 1.1px;
}
.copywrite {
    font-size: 9px;
    line-height: 12px;
    margin: 55px auto 0;
}
